<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<form action='/table/' method='post'>
			<span id='true_label'>True symbol: </span>
			<input type="text" name="true" />
			<br />

			<span id='false_label'>False symbol: </span>
			<input type="text" name="false" />
			<br />

			<span id='size_label'>Size (2^x): </span>
			<input type="text" name="size" />
			<br />
			<input id='submit' type='submit' value='Show truth table'>
		</form>
	</body>

	<br />
	<a href='/' id='return_link'>Reload Page</a>
</html>