<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<h1 id='error_header'>ERROR</h1>

		<h2 id='error_msg'>Invalid Parameters.</h2>

		Please enter:

		<ol>
			<li>A single-character true symbol</li>
			<li>A single-character false symbol</li>
			<li>A size greater than or equal to 2, but no greater than 15</li>
			<li>Different characters for the true and false symbols</li>
		</ol>

		<br />
		<a href='/' id='return_link'>Return to Main Page</a>
	</body>
</html>